body{
    background: url(../img/background.jpg) no-repeat fixed center;
}
#titulo{
    font-size: 72px;
    color: white;
    text-align: center;
    margin-top: 5%;
    user-select: none;
}
#redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid red;
    font-size: 50px;  
    user-select: none;    
    position: absolute;
    bottom: 5%;
    left: 45%;
    padding: 0;
    margin: 0;
}
#redes-sociais li{
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    list-style: none; 
}   
.fab{ 
    color: black;
}
