body{
    background: url(../img/background.jpg) no-repeat fixed center;
}
#titulo{
    font-size: 72px;
    color: white;
    text-align: center;
    margin-top: 5%;
    user-select: none;
}
#redes-sociais{
    font-size: 35px;  
    user-select: none;    
    position: absolute;
    bottom: 5%;
    left: 48.5%;
}
#redes-sociais li{
    border-radius: 25px;
    list-style: none; 
    
}   
#redes-sociais ul{
    padding: 0;
}
.fab{ 
    color: white;
}
