body{
    background: url(./img/background.jpg) no-repeat fixed center;
}

#titulo{
    font-size: 72px;
    color: white;
    text-align: center;
    margin-top: 5%;
    user-select: none;
}